:root {
    --light: #ffffff;
    --dark: #23222B;
    --background: var(--light);
    --foreground: var(--dark);
    --red: #800000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --light: #BFBFC9;
        --dark: #23222B;
        --background: var(--dark);
        --foreground: var(--light);
        --red: #B20000;
    }
}

body {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    min-width: fit-content;

    user-select: none;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;

    background-color: var(--background);
    color: var(--foreground);
}

/* General styling classes */
.red-bg {
    background-color: var(--red);
    color: var(--background);
}
.warning-text {
    color: color-mix(in oklab, var(--red) 50%, red);
}

/* Want to default disallow text selection for things like options labels but selectively enable it for copyable data like banned IPs or the whitelist */
.selectable {
    user-select: text;
}

.inline {
    display: inline;
}

.unpopulated {
    display: none;
}

/* Flex-based layout helpers*/
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    align-items: center;
}

.flex-flip {
    display: flex;
    flex-direction: row-reverse;
}

.align-center {
    justify-content: center;
}

.align-right {
    justify-content: flex-end;
}