body {
    gap: 1rem;
}

input::placeholder {
    font-style: italic;
}

/* "Remove domain" buttons */
#allowlist_contents button {
    background: color-mix(in oklab, var(--background) 80%, var(--foreground));
    border: none;
    border-radius: 3em;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;

    margin-left: 1ch;
    padding-top: -2px;
    padding-bottom: 2px;
}
#allowlist_contents button:hover {
    background-color: var(--red-text);
    color: var(--background);
}
