body {
    gap: 1rem;
}

input::placeholder {
    font-style: italic;
}

/* Allowlist table (mainly relies on common styles in '../global/common.css') */
#allowlist_table_contents .controls-cell {
    width: 0; /* Indicates column should be as small as possible */
}

/* "Remove domain" buttons */
#allowlist_table_contents .controls-cell button {
    background: color-mix(in oklab, var(--background) 80%, var(--foreground));
    border: none;
    border-radius: 3em;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}
#allowlist_table_contents .controls-cell button:hover {
    background-color: color-mix(in oklab, var(--red) 50%, red);
    color: var(--background);
}
