body {
    min-width: 200px;
}

h1,
h2 {
    margin: 0;
    white-space: nowrap;
}

/* Header */
header {
    padding: min(2rem, 20px) min(5ch, 30px);
}

header img {
    /* Visual alignment tweaks, finicky */
    margin-bottom: -5px;
    margin-right: 5px;
    margin-left: -5px;
}

/* Main section padding */
main {
    gap: 10px;
    padding: 10px;
}

/* Options link */
#settings {
    font-weight: bold;
    font-size: 1.25rem;

    /* <a> resets */
    text-decoration: none;
    color: var(--foreground);
}
#settings:hover, #settings:focus {
    opacity: 0.75;
}
/* Adding the gear icon in a way that is easy to recolor */
#settings::after {
    content: '';

    margin-left: 2.5px;
    margin-bottom: -5px;
    height: 24px;
    width: 24px;

    /* `currentColor` matches the `color` property's value */
    background-color: currentColor;

    /* Make it gear shaped, instead of a 24x24 gray rectangle */
    mask-image: url("../icons/settings.png");
    mask-size: 100%;
}

/* Blocked port scans table styling */
#blocked-ports table {
    table-layout: fixed;
    /* font-family: ui-monospace, monospace; */
}
.host-cell {
    min-width: 15ch;
    width: fit-content;
}
.ports-cell {
    max-width: 8ch;
}

/* All ports should be prefixed with a faint unselectable ':' */
.port::before {
    content: ':';
    color: color-mix(in oklab, var(--foreground) 80%, var(--background));
}


/* Multiple ports - Want the list to be collapsed to one line by default, expanding to multiple on toggle click */
.many-ports {
    width: 100%;
    display: inline flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
/* Put commas between ports when in collapsed view */
.many-ports .port::after {
    content: ',';
    color: color-mix(in oklab, var(--foreground) 80%, var(--background));
}
/* Except remove the commas when expanded or the last port in the list */
.many-ports .port:last-child::after,
.many-ports .ports-expansion-toggle:has(input:checked) + .ports-expansion-target .port::after {
    content: '';
}

/* Unexpanded ports list overflow is hidden with a `...` */
.ports-expansion-target {
    flex-shrink: 1;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Put each port on its own line when expanded */
.many-ports .ports-expansion-toggle:has(input:checked) + .ports-expansion-target .port {
    display: block;
}

/* The expansion toggle button is '➕︎' or '➖︎' and the actual checkbox is hidden */
.ports-expansion-toggle::after {
    cursor: pointer;
    content: '➕︎';
}
.ports-expansion-toggle:has(input:checked)::after {
    content: '➖︎';
}
.ports-expansion-toggle input {
    display: none;
}