body {
    min-width: 200px;
}

h1,
h2 {
    margin: 0;
    white-space: nowrap;
}

/* Header */
header {
    padding: 20px 30px;
    justify-content: center;
}

header img {
    /* Visual alignment tweaks, finicky */
    margin-bottom: -5px;
    margin-right: 5px;
    margin-left: -5px;
}

/* Main layout */
main,
main > section:not([hidden]) {
    display: flex;
    flex-direction: column;
}
main {
    gap: 1em;
    padding: 10px;
}
main > section {
    gap: 0.5em;
}

nav {
    justify-content: right;
}

/* Options link */
#settings {
    font-weight: bold;
    font-size: 1.25rem;

    /* <a> resets */
    text-decoration: none;
    color: var(--foreground);
}
#settings:hover, #settings:focus {
    opacity: 0.75;
}
/* Adding the gear icon in a way that is easy to recolor */
#settings::after {
    content: '';

    margin-left: 2.5px;
    margin-bottom: -5px;
    height: 24px;
    width: 24px;

    /* `currentColor` matches the `color` property's value */
    background-color: currentColor;

    /* Make it gear shaped, instead of a 24x24 gray rectangle */
    mask-image: url("../icons/settings.png");
    mask-size: 100%;
}

/* Blocked port list styling */
#blocked_ports ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}

/* The host text display */
#blocked_ports .host {
    font-weight: bold;
}

/* The "View Ports" toggle */
.ports-expansion-toggle {
    cursor: pointer;
    color: var(--red);
    float: right;
}
.ports-expansion-toggle input {
    display: none;
}

/* Expand the ports list when the toggle is enabled */
.ports-expansion-target {
    height: 0;
    overflow: hidden;
}
.ports-expansion-toggle:has(input:checked) + .ports-expansion-target {
    height: auto;
}


/* Blocked tracking scripts list styling */
#blocked_hosts ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}
#blocked_hosts li {
    color: var(--red);
    font-weight: bold;
}