body {
    min-width: 200px;
}

h1,
h2 {
    margin: 0;
    white-space: nowrap;
}

/* Header */
header {
    padding: min(2rem, 20px) min(5ch, 30px);
}

header img {
    /* Visual alignment tweaks, finicky */
    margin-bottom: -5px;
    margin-right: 5px;
    margin-left: -5px;
}

/* Main section padding */
main {
    gap: 10px;
    padding: 10px 10px;
}

/* Options */
a#settings {
    text-decoration: none;
    color: var(--foreground);
}

#settings h2 {
    font-size: 1.25rem;
}

#settings::after {
    /* Hacky-ish way to add the gear icon in a way that is easy to recolor */
    content: '';

    /* Position and sizing */
    margin-left: 2.5px;
    margin-bottom: -5px;
    height: 24px;
    width: 24px;

    /* Actual color */
    background-color: var(--foreground);

    /* Make it gear shaped */
    mask-image: url("../icons/settings.png");
    mask-size: 100%;
}

#settings:hover {
    opacity: 0.75;
}
