body {
    min-width: 200px;
}

h1,
h2 {
    margin: 0;
    white-space: nowrap;
}

/* Header */
header {
    padding: min(2rem, 20px) min(5ch, 30px);
}

header img {
    /* Visual alignment tweaks, finicky */
    margin-bottom: -5px;
    margin-right: 5px;
    margin-left: -5px;
}

/* Main section padding */
main {
    gap: 10px;
    padding: 10px 10px;
}

/* Options link */
#settings {
    font-weight: bold;
    font-size: 1.25rem;

    /* <a> resets */
    text-decoration: none;
    color: var(--foreground);
}
#settings:hover, #settings:focus {
    opacity: 0.75;
}

/* Adding the gear icon in a way that is easy to recolor */
#settings::after {
    content: '';

    /* Position and sizing */
    margin-left: 2.5px;
    margin-bottom: -5px;
    height: 24px;
    width: 24px;

    /* `currentColor` matches the `color` property's value */
    background-color: currentColor;

    /* Make it gear shaped */
    mask-image: url("../icons/settings.png");
    mask-size: 100%;
}
